
.hero__intro img {
    width: 100%;
    max-width: 100%;
}
.intro__video iframe {
    width: 100%;
    height: 300px;
}

@media only screen and (min-width:1200px) {
    .hero__intro > div:last-child {
        padding-right: 145px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .intro__video iframe {
        height: 250px;
    }
}

@media only screen and (min-width:992px) {
    .hero__intro > div:first-child {
        padding-right: 30px;
    }
    .hero__intro > div:last-child {
        padding-left: 30px;
    }
    .hero__intro .intro-newsletter-full {
        width: 100%;
    }
}

@media only screen and (max-width:991px) {
    .intro10 {
        padding: 100px 0;
    }
    .hero__intro .intro10-nl {
        width: 100%;
    }

    .intro__video iframe {
        height: 430px;
    }

    .parallax5 .col-md-6.bg-dark {
        max-width: 50%;
    }
}

@media only screen and (max-width:767px) {
    .intro10 {
        padding-left: 0;
    }
    .hero__intro img {
        visibility: visible;
        vertical-align: inherit;
        margin: 0;
    }

    .intro__video iframe {
        height: 400px;
    }

    .testimonials-white p {
        padding: 0 0 15px;
    }
    .parallax5 .col-md-6.bg-dark {
        max-width: 100%;
    }
}

@media only screen and (max-width:575px) {
    .intro__video iframe {
        height: 330px;
    }
}