#header5-0 H3 {
  font-size: 36px;
  font-weight:600;
  text-transform: uppercase
}

#ck_subscribe_form {
  display: block !important;
}

#ck_success_msg {
  opacity: 1;
  color: #29d9c2;
  position: absolute;
  bottom: -26px;
  left: 31px;
}

#ck_success_msg p {
  margin: 0;
  padding: 0;
  opacity: 0.7;
  color: #29d9c2;
  font-size: 12px;
}

#ck_error_msg {
  margin-top: -32px;
}

#ck_error_msg p {
  color: #ff9d63;
  opacity: 1;
}
